<div class="atw-compendium-import">
  <label class="atw-compendium-import-picker">
    <span>{{templateLabel}}</span>
    <select class="atw-compendium-import-id">
      {{#each entries}}
        <option value="{{id}}">{{label}}</option>
      {{/each}}
    </select>
  </label>
  <div class="atw-compendium-import-modes">
    <label class="atw-radio-option">
      <input type="radio" name="atw-compendium-import-mode" value="replace" checked>
      <span>{{replaceLabel}}</span>
    </label>
    <label class="atw-radio-option">
      <input type="radio" name="atw-compendium-import-mode" value="append">
      <span>{{appendLabel}}</span>
    </label>
  </div>
</div>
