<p>{{prompt}}</p>
<div class="form-group atw-dialog-form-group">
  <label>{{nameLabel}}</label>
  <input type="text" class="atw-save-name" value="{{itemName}}">
</div>
<div class="form-group atw-dialog-form-group">
  <label>{{slugLabel}}</label>
  <input type="text" class="atw-save-slug" value="{{itemSlug}}" placeholder="{{slugPlaceholder}}">
  <small>{{slugHint}}</small>
</div>
